@import "tailwindcss";

@theme {
    --breakpoint-ls: 300px;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}



.Home{

    background-image: url(./assets/img/Home_3.jpg);
    background-size: 100%  100%  ;
    background-repeat: no-repeat;
    
   
   
}


@font-face {
    font-family: 'batmfa'; /* The name you'll use in your CSS */
    src: url('./assets/font/batmfa.ttf') format('woff2'); /* Path to your font file */
    font-weight: 400; /* This file is for the regular weight */
    font-style: normal;
    font-display: swap; /* Show fallback text while loading, then swap */
  }

.batmfa{
    font-family: batmfa;
}


